<!-- <p> the paragraph is working properly</p>
<app-content-child>
    <p #paragraph>this is a demo model of content-child</p>
</app-content-child> -->
<!--signup-form></signup-form-->
<!--app-contact-form></app-contact-form-->
<!-- <app-post-data></app-post-data> -->
<!--router-outlet></router-outlet-->
<!-- <user-data-form></user-data-form> -->
<!-- <app-not-found></app-not-found> -->
<!-- <app-post-data></app-post-data> -->
<!-- <user-data-form></user-data-form> -->
<!-- <div>
    <div class="nav-container">
        <ul class="routes-list"> -->
            <!-- <li class="routes-list"><a routerLink="home">Home</a></li > approach 1 to navagation link -->
            <!-- <li class="routes-list"><a [routerLink]="'about'">about</a></li> approach 2 to navagation link in array></approach -->
            <!-- <li class="routes-list"><a [routerLink]="['contact',]">Contacts</a></li>approach 2 to navagation link in array with more parameters -->
         <!-- </ul> -->
    
    <!-- </div>
    <div>
        <router-outlet></router-outlet>
        
    </div> -->

<!-- </div> -->
<!-- <p>all atre lasy loading are working worki9ng</p>
<ul>
    <li><a routerLink="admin/login">login</a></li>
    <li><a routerLink="admin/about">about</a></li>
</ul>
<router-outlet></router-outlet> -->


    <!-- <h1>user page links</h1>
    <ul>
       
        <li><a routerLink="user/user-login">login</a></li>
        <li><a routerLink="user/user-logout">logout</a></li>
    </ul> -->
<!-- <a routerLink="admin">Home</a> -->
        
        <!-- <li><a routerLink="/main-home">home</a></li>
        <li><a routerLink="/main-login">login</a></li> -->
        <div >
    <ul class="routing-all">
    
              
                <li class="routes-list"><a routerLink="home">Home</a>
                <li class="routes-list"><a [routerLink]="'about'">about</a></li>
                <li class="routes-list"><a [routerLink]="['contact',]">Contacts</a></li>
                <li class="routes-list"><a [routerLink]="['details',]">Details</a></li>
               
                <li class="routes-list"><a [routerLink]="['support',]">all support</a></li>

                
    </ul>
    <div>
        <button style="margin: 5px;" (click)="login()">LOGIN</button>
        <button style="margin: 5px;" (click)="logout()">LOUOUT</button>
    </div>
                
</div>

<router-outlet></router-outlet>